.button-group button {
    margin: 0 1rem 1rem 0;
}

.button-group button:last-child {
    margin-right: 0;
}

.button-group .button-right {
    float: right;
}

.coc-files-table-wrapper .button-group {
    margin-top: 2rem;
}

.coc-files-table-wrapper .hidden {
    display: none;
}

.coc-files-table-wrapper .filename {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
}

.button-group.group-row {
    margin: 0;
    padding: 0;
}

.button-group.group-row .btn {
    font-size: 0.75rem;
    line-height: 1.2;
    padding: 5px 10px;
}