.coc-form-wrapper .form-item {
    margin-bottom: 1rem;
}

.modal-create-COC .modal-body {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

.edit-coc-wrapper .button-group {
    margin-top: 1rem;
}