.button-group button {
    margin: 0 1rem 1rem 0;
}

.button-group button:last-child {
    margin-right: 0;
}

.photos-table-wrapper .button-group {
    margin-top: 2rem;
}

.photos-table-wrapper .search-bar-wrapper {
    position: relative;
    z-index: 5;
}

.photos-table-wrapper .no-content {
    padding: 1rem 0;
}